fastapi
uvicorn[standard]
langchain
langchain-openai
langgraph
sqlmodel
psycopg2-binary
pydantic
httpx
amadeus
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
argon2-cffi

langgraph-checkpoint-postgres 
psycopg-pool
psycopg[binary]

redis

langchain-postgres 
psycopg 
pgvector
pypdf
requests
beautifulsoup4
google-genai 
playwright
chromium