:root {
  --pd-sm: 0.25rem;
  --pd-md: 0.5rem;
  --pd-lg: 1rem;
  --pd-xl: 1.5rem;

  --gap-sm: 4px;
  --gap-md: 8px;
  --gap-lg: 16px;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;

  --color-primary: #1d4ed8;
  --color-secondary: #64748b;
  --color-light: #f8fafc;
  --color-dark: #1e293b;
}
